{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "110"
        },
        "modules": "auto"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}